html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: grey;
    padding: 10px 30px;
    border-radius: 13px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
    /* font-size: 20px; */
}

.limitedoffer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 20px;
    font-weight: 400;
    cursor: pointer;
    color: lightgray;
}

.slider {
    background: url('https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderwrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.slideritem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slideBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.slider img {
    z-index: 1;
}

.sliderTitle {
    position: absolute;
    color: white;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;

}

.sliderPrice {
    position: absolute;
    color: white;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    border: 2px solid grey;

}

.buybutton {
    position: absolute;
    color: white;
    top: 50%;
    right: 10%;
    font-size: 30px;
    background-color: black;
    font-weight: 900;
    text-align: center;
    border: 2px solid grey;
    cursor: pointer;
    border-radius: 10px;
}

.buybutton:hover {
    background-color: white;
    color: black;
}

.slideritem:nth-child(1) .slideBg {
    background-color: #47af73;
}

.slideritem:nth-child(2) .slideBg {
    background-color: burlywood;
}

.slideritem:nth-child(3) .slideBg {
    background-color: cornflowerblue;
}

.slideritem:nth-child(4) .slideBg {
    background-color: teal;
}

.slideritem:nth-child(5) .slideBg {
    background-color: rebeccapurple;
}

.slideritem:nth-child(1) .sliderPrice {
    color: #47af73;
}

.slideritem:nth-child(2) .sliderPrice {
    color: burlywood;
}

.slideritem:nth-child(3) .sliderPrice {
    color: cornflowerblue;
}

.slideritem:nth-child(4) .sliderPrice {
    color: teal;
}

.slideritem:nth-child(5) .sliderPrice {
    color: rebeccapurple;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon {
    width: 50px;
    height: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
}

.featureDesc {
    color: grey;
    width: 50%;
    height: 200px;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.payment {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 500px;
    height: 550px;
    background-color: white;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.75);
}

.payTitle {
    color: rgb(185, 179, 179);
    font-size: 25px;
}

label {
    font-size: 20px;
    color: rgb(176, 168, 168);
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid gray;
}

.payInput::placeholder {
    color: rgb(166, 166, 166);
}

.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 30%;
    margin-right: 5px;
}

.payButton {
    position: absolute;
    height: 40px;
    bottom: -20px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(63, 179, 59);
    color: white;
    cursor: pointer;
    border: none;
}
.payButton:hover{
    background-color: green;
}
.close{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 10px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px;
}

.productImg {
    width: 50%;
}

.productDetails {
    position: absolute;
    top: 8%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.producttitle {
    font-size: 75px;
    font-weight: 900;
}

.productDesc {
    font-size: 20px;
    color: gray;
}

.colors,
.sizes {
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child {
    background-color: darkblue;
}

.size {
    padding: 5px 20px;
    border: 2px solid black;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.productButton {
    float: right;
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.productButton:hover {
    background-color: white;
    color: black;
}
.gallery{
    display: flex;
    padding: 50px;
}
.galleryItem{
    padding: 50px;
    flex: 1;
}
.galleryImg{
    width: 100%;
}
.newSeason{
    display: flex;
}
.nsItem{
    background-color: black;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nsImg{
    width: 100%;
}
.nsTitle{
    font-size: 40px;
}
.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}
footer{
    display: flex;
}
.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fInput{
    padding: 5px;
}
.fButton{
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.fIcons{
    display: flex;
}
.fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.fMenuList{
    padding: 0px;
    list-style: none;
}
.fListItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}
.fMenuTitle{
    font-size: 16px;
}
.copyright{
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width:480px) {
    nav{
        padding: 20px;
    }
    .search{
        display: none;
    }
    .navBottom{
        flex-wrap: wrap;
    }
    .menuItem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }
    .slider{
        clip-path: none;
    }
    .sliderImg{
        width: 80%;
    }
    .slideBg{
        width: 100%;
        height: 100%;
    }
    .sliderTitle{
        display: none;
    }
    .sliderPrice{
        top:unset;
        bottom: -40px;
        left: 0;
        background-color: lightgray;
    }
    .buybutton{
        top: 0;
        right: 0;
    }
    .features{
        flex-direction: column;
    }
    .product{
        flex-wrap: wrap;
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .productImg{
        width: 80%;
    }
    .productDetails{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
    }
    .producttitle{
        font-size: 50px;
        margin: 0;
    }
    .gallery{
        display: none;
    }
    .newSeason{
        flex-direction: column;
    }
    .nsItem:nth-child(2){
        padding: 50px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    .footerLeft{
        padding: 20px;
        width: 90%;
    }
    .footerRight{
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }
    .payment{
        width: 90%;
        padding: 20px;
    }
}